.Header{
    height: 150px;
    text-align: center;
    background-color:burlywood;
 padding: 0px;
}
.Footer{
    height:150px;
    text-align: center;
    background-color: burlywood;
    
}
.h1{
    font-size: 24px;
    line-height: 150px; 
    margin: 0;
    color: white;
}
.Main{
    height: calc(100% - 300px); 
    background-color: plum;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}
.h1text{
    font-size: 24px;
    line-height: 150px; 
    margin: 0;
    color: white;
    padding-left: 720px;
}
/*.button{
    background-color: blue;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 150px;
    margin-left: 600px;
}*/