.box-red {

    height: 100px;
    width: 100px;
    background-color: red;
}

.box-green {

    height: 100px;
    width: 100px;
    background-color: green;
}

.box-blue {

    height: 100px;
    width: 100px;
    background-color: blue;
}